body {
  background-color: #323232;
}
body>ul {
  width: 70%;
  margin: 0 auto;
}
li {
  list-style-type: none;
}
.UF1 {
  font-family: futura;
  color: lightgrey;
  text-decoration: none;
  display: inline-block;
  margin: 2rem;
}
ul li ul a li {
  font-family: futura;
  color: white;
  text-decoration: none;
  display: inline-block;
  margin: 2rem;
}
a:hover {
  color: grey;
}
