body {
  background-image: url(../img/wallpaper.jpg);
  z-index: 1;
  margin: 0;
}
video {
  position: absolute;
  bottom: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height:100%;
  z-index: -1;
  overflow: hidden;
}
body>ul {
  width: 70%;
}
li {
  list-style-type: none;
}
ul li {
  font-family: futura;
  color: lightblue;
  text-decoration: none;
  display: inline-block;
  margin: 2rem;
}
ul li:hover{
  color: lightgreen;
}
nav {
  width: 100%;
  height: 100px;
  background-color: rgba(0,0,0,.5);
    color: #fff;
  margin-top: -17px;
  vertical-align: top;
  position: relative;
}
nav ul {
  margin: auto;
  margin-top: 15px;
  width: 60%;
  padding: 10px;
}
.UFs {
  color: yellow;
}
.UFs:hover {
  color: red;
}
.activitats {
  height: 370px;
  width: 100%;
  background-color: rgba(0,0,0,.7);
  color: #000000;
}
.rueda {
  position: relative;
  left: 130px;
  margin-top: 50px;
  float: left;
  width: 200px;
  height: 200px;
  background-image: url(../img/rueda.png);
  background-size: cover;
}
.rueda:hover {
  transform: rotate(1080deg);
  transition: 2s;
}
.freno {
  position: relative;
  float: left;
  margin-top: 50px;
  left: -20px;
  width: 200px;
  height: 200px;
  background-image: url(../img/freno.png);
  background-size: cover;
}
.freno:hover {
  transform: rotate(360deg);
  transition: 1s;
}
.freno1 {
  position: relative;
  float: left;
  left: 60px;
  top: -44px;
  margin-top: 50px;
  width: 95px;
  height: 190px;
  background-image: url(../img/freno1.png);
  background-size: cover;
}
.freno1:hover {
  animation: shake 0.5s;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
.volante {
  position:relative;
  left: 130px;
  margin-top: 50px;
  float: left;
  width: 200px;
  height: 200px;
  background-image: url(../img/volante.png);
  background-size: cover;
}
.volante:hover {
  animation: volante 3s ease;
}
@keyframes volante {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.embrague {
  position: relative;
  left: 130px;
  margin-top: 50px;
  float: left;
  width: 200px;
  height: 200px;
  background-image: url(../img/embrague.png);
  background-size: cover;
}
.embrague:hover {
  animation: embrague 2s ease;
}
@keyframes embrague {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(720deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.engranaje {
  position: relative;
  left: 130px;
  margin-top: 50px;
  float: left;
  width: 200px;
  height: 200px;
  background-image: url(../img/engranaje.png);
  background-size: cover;
}
.engranaje:hover {
  transform: rotate(720deg);
  transition: 2s;
}
.velocimetro {
  float: left;
  position: relative;
  margin-top: 50px;
  width: 200px;
  height: 200px;
  background-image: url(../img/velocimetro.png);
  background-size: cover;
}
.aguja {
  position: relative;
  top: -30px;
  left: -60px;
  margin-top: 50px;
  width: 175px;
  height: 175px;
  background-image: url(../img/aguja.png);
  background-size: cover;
}
.aguja:hover {
  animation: aguja 2s ease;
}
@keyframes aguja {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.engranatge {
  position: relative;
  float: left;
  left: -20px;
  margin-top: 50px;
  width: 100px;
  height: 100px;
  background-image: url(../img/engranatge.png);
  background-size: cover;
}
.engranatge:hover {
  transform: rotate(-1440deg);
  transition: 2s;
}
.piston {
  position: relative;
  margin-top: 50px;
  left: 20px;
  width: 80px;
  height: 200px;
  background-image: url(../img/piston.png);
  background-size: cover;
  transform: rotate(-30deg);
}
.piston:hover {
  animation: piston 0.5s;
}
@keyframes piston {
  0% {
    position: relative;
  }
  50% {
    position: relative;
    top: -20px;
    left: 10px;
  }
  100% {
    position: relative;
  }
}
.piston1 {
  position: relative;
  left: -60px;
  margin-top: 50px;
  width: 80px;
  height: 200px;
  background-image: url(../img/piston.png);
  background-size: cover;
  transform: rotate(30deg);
}
.piston1:hover {
  animation: piston1 0.5s;
}
@keyframes piston1 {
  0% {
    position: relative;
  }
  50% {
    position: relative;
    top: -20px;
    left: -50px;
  }
  100% {
    position: relative;
  }
}
.motor {
  position: relative;
  left: 130px;
  margin-top: 50px;
  float: left;
  width: 200px;
  height: 200px;
  background-image: url(../img/motor.png);
  background-size: cover;
}
.motor:hover {
  animation: shake 0.5s;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
h1{
  float: left;
  font-family: Helvetica;
  color: white;
  margin: 15px 110px 0 97px;
  font-size: 100%;
  display: inline-block;
}
h2 {
  font-family: Helvetica;
  color: white;
  margin: 50px 0 50px 55px;
  z-index: 2;
}
.fedly {
  margin: 0px 110px 0 230px;
}
.float {
  margin: 0px 110px 0 100px;
}
.absolute {
  margin: 0px 110px 0 85px;
}
.escacs {
  margin: 0px 110px 0 80px;
}
.apps {
  margin: 0px 110px 0 110px;
}
.examen {
  margin: 0px 110px 0 135px;
}
.retrat {
  margin: 0px 110px 0 70px;
}
.responsive {
  position: relative;
  top: 265px;
  left: -150px;
}
