.taulell {
  width: 800px;
  height: 800px;
  background-color: brown;
}
.casella {
  width: 100px;
  height:100px;
  background-color: yellow;
  float: left;
}
.filera .casella:nth-child(2n) {
  background-color: black;
}
.filera:nth-child(2n) .casella {
  background-color: black;
}
.filera:nth-child(2n) .casella:nth-child(2n) {
  background-color: yellow;
    background-image: linear-gradient(45deg, #F6FF84, #BAFBFF);
}
.filera:nth-child(2n+1) .casella:nth-child(2n+1) {
  background-color: yellow;
  background-image: linear-gradient(45deg, #F6FF84, #BAFBFF);
}
b {
  display: block;
  width: 80px;
  height: 80px;
  margin: 10px;
  padding: 0;
  background-color: white;
  background-image: radial-gradient(farthest-corner at 0px 0px, #fff 10%, #C9C8C8);
  box-shadow: 2px 2px 5px black;
  border-radius: 50%;
}
.filera:nth-child(n+3) b{
  display: none;
}
.filera:nth-child(n+7) b{
  display: block;
  background-image: radial-gradient(farthest-corner at 0px 0px, #999 10%, #333);
  box-shadow: 2px 2px 5px black;
}
b:hover {
  position: relative;
  top: 100px;
  transition: 0.1s;
}
.filera:nth-child(n+7) b:hover{
  position: relative;
  top: -100px;
  transition: 0.1s;
}
